html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
}

.tutto {
    position: absolute;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* creazione della tabella */

table, td {
    border: 2.2px solid black;
    border-collapse: collapse;
}

table {
    width: 50vh;
    height: 50vh;
}

td {
    width: 10vh;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

#q0, #q1, #q2 {
    border-top: 0px;
}

#q6, #q7, #q8 {
    border-bottom: 0px;
}

#q0, #q3, #q6 {
    border-left: 0px;
}

#q2, #q5, #q8 {
    border-right: 0px;
}

.ricarica {
    transform: rotate("0deg");
    transition: transform 1s;
}

.ricarica:hover {
    transform: rotate("360deg");
}

/* creazione modalità */

.mod {
    margin-bottom: 7vh;
}

/* creazione punteggio */

.punteggio {
    margin-top: 7vh;
}

.scritta {
    font-size: 3vh;
}
